# A file with this format should be saved as "environment.txt" in the same directory as the program
SMTP_USER=your_email@gmail.com
SMTP_PASS=non_2FA_password

TESTVAULT_USER=your_email@gmail.com
TESTVAULT_PASS=your_testvault_password

# the URl in testvault after you click "Groups", then your house
CLIENTS_LIST_URL=https://COMPANY.thetestvault.com/crm/company/ORG_NUMBER/person/list/

# optional email to send results to
SEND_TO=to_email@example.com